include /mixins/PageLogo.pug
include /mixins/ListTitle.pug
include /mixins/Picture.pug
include /mixins/friendListItem.pug

doctype

html(lang="en")
  head
    meta(charset="utf-8")
    link(rel="icon" type="image/x-icon" href="https://litto.work/favicon.ico")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    title Reterritorialized Spaces

    link(type="text/css" rel="stylesheet" href="/main.css")

    meta(property="og:title" content='Artificial Museum')

    meta(name="theme-color" content="#000000")

  body
    div.wrapper
      div#app
        include /components/noscript.pug

        include /popups/deviceWarning.pug
        include /popups/timeoutWarning.pug

      block pageBody
        div Hello There.
