noscript
  div.content
    h3= i18n('Welcome to the Artificial Museum.')

    p= i18n('This is a bridge from the analog to the digital world.')
    p= i18n('Unfortunately, we also require javascript, which is either disabled or missing in your current browser.')
    p= i18n('We promise to never track, analyze, or save any data about you.')
