body {
  font-family: notosans;
  padding: 0;
  background-color: var(--background);
  color: var(--text-dark);
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1300px;
}

p {
  margin: 0;
}

picture {
  img {
    width: 100%;
    height: auto;
  }
}

.Announcement {
  margin: 3em 1em;

  picture {
    img {
      max-width: 800px;
      margin: 0 0 2em;
    }
  }

  p {
    font-size: 1.5em;
    font-style: italic;
  }

  .description {
    margin: 5em 0 0;
    font-size: 1.2em;
  }
}

.Arrow {
  float: left;
  height: 3.8em;
  width: auto;
  margin: 0 0.5em 0 0;
}

.Year {
  h2 {
    font-style: italic;
    font-size: 3em;
    padding: 0.2em 0;
    margin: 0;
  }

  .Lines {
    margin: 3em 0 0;
    max-width: 40%;
  }

  .Preview {
    display: block;
    margin: 0 0 2em;
  }
}

button.show-artifact {
  width: 0;
  max-width: 0;
  float: left;
  background: transparent;
  color: var(--text-dark);
  overflow: hidden;
  text-align: left;
  font-weight: bold;
  font-size: 1.3em;
  padding: 0;
  transition:
    max-width 0.5s,
    margin 0.5s;
  line-height: 1em;
}
