body {
  font-family: notosans;
  padding: 0;
  background-color: var(--background);
  color: var(--text-dark);
}

main {
  width: 100%;
  margin: 0 auto;
  max-width: 1300px;
}

p {
  margin: 0;
}

picture {
  img {
    width: 100%;
    height: auto;
  }
}
