body {
  font-family: notosans;
  padding: 0;
  background-color: var(--background);
  color: var(--text-dark);
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1300px;
}

p {
  margin: 0;
}

picture {
  img {
    width: 100%;
    height: auto;
  }
}

.Announcement {
  margin: 3em 1em;

  picture {
    img {
      max-width: 800px;
      margin: 0 0 2em;
    }
  }

  p {
    font-size: 1.5em;
    font-style: italic;
  }

  .description {
    margin: 5em 0 0;
    font-size: 1.2em;
  }
}
